  <h2 id="basic_claims_data">Stammdaten</h2>
  
  <h3 id="search_insurance">Versicherung suchen</h3>
  <p>
    <a href="images/docs/insurance.png"><img class="left" src="images/docs/small/insurance.png" /></a>
    Um eine Versicherung zu suchen klicken Sie einfach im Menü auf „Versicherungen“ und geben dann den Namen oder einen Teil davon im Suchfeld ein und bestätigen mit „Enter“.
  </p>
  
  <h3 id="search_rate_position">Tarifposition suchen</h3>
  <p>        
    <a href="images/docs/search_tarif.png"><img class="right" src="images/docs/small/search_tarif.png" /></a>
    Um Tarifpositionen zu suchen können Sie im Menü auf „Leistungen“ klicken und dann nach Tarif-Codes oder Beschreibungstext suchen.</p>
  <p>(Diese Angaben entsprechen genau den Ergebnissen, welche Sie bei der Suche in „Leistungen erfassen“ erhalten.)</p>

  <h3 id="search_drugs">Medikamente suchen</h3>
  <p>
    <a href="images/docs/search_drugs.png"><img class="left" src="images/docs/small/search_drugs.png" /></a>
    Um Medikamente zu suchen, klicken Sie im Menü auf „Medikamente“. Sie können dann nach dem Namen des Präparates suchen. Um die Details eines Medikamentes einzublenden, klicken Sie es einfach mit der Maus an.
  </p>
  
  <h3 id="search_and_edit_doctors">Ärzte suchen und bearbeiten</h3>
  <p>        
    <a href="images/docs/search_drugs.png"><img class="right" src="images/docs/small/search_drugs.png" /></a>
    Um Ärzte zu suchen, klicken Sie im Menü auf  „Ärzte“. Sie können dann nach dem Namen des Arztes suchen.</p> 
  <p>Mit „Erfassen“ können Sie einen neuen Arzt im System eingeben.</p>
  <p>
    Wenn Sie die Daten ändern möchten, klicken Sie auf den gewünschten Arzt. Nun können Sie wieder rechts oben „Ändern“ auswählen oder direkt durch Klick auf das entsprechende Felder überarbeiten.
  </p>
  <h2 id="tips_and_tricks">Tips und Tricks</h2>
  
  <h3 id="multiple_window">Mehrere Fenster</h3>
  <p>        
    <a href="images/docs/open_new_window.png"><img class="left" src="images/docs/small/open_new_window.png" /></a>
    CyDoc ist so programmiert, dass man beliebig viele Fenster geöffnet haben kann, zum Beispiel eines für die Rechnungen, eines für die Patientenverwaltung und eines für die Medikamenten-Suche. Um einen Menü-Punkt in einem neuen Fenster zu öffnen, klicken Sie mit der rechten Maustaste auf den gewünschten Menü-Punkt und klicken dann auf „Link in neuem Fenster öffnen“. 
  </p>

  <h3 id="bookmark">Lesezeichen</h3>
  <p>
    <a href="images/docs/bookmark1.png"><img class="right" src="images/docs/small/bookmark1.png" /></a>
    Da CyDoc im „Internet“ läuft, kann man leicht Lesezeichen (Favoriten) anlegen. Zum Beispiel für einen Fall, den man sich für die spätere Bearbeitung merken möchte. Klicken Sie hierfür mit der rechten Maustaste auf den gegebenen Fall und wählen Sie „Lesezeichen für diesen Link hinzufügen“.</p> 
  <p>
    <a href="images/docs/bookmark2.png"><img class="right" src="images/docs/small/bookmark2.png" /></a>
    Es öffnet sich dann ein kleines Fenster, in dem Sie angeben können, ob das Lesezeichen auf der Symbolleiste oder im Lesezeichen-Menü gespeichert werden soll. Des weiteren können Sie einen Namen für dieses Lesezeichen angeben und mit „Fertig“ abschliessen.
  </p>