  <h2 id="accounting">Rechnungswesen</h2>
  
  <h3 id="open_case">Fall eröffnen</h3>
  <p>
    <a href="images/docs/add_case.png"><img class="left" src="images/docs/small/add_case.png" /></a>
    Öffnen Sie eine PatientIn und klicken Sie anschliessend oben rechts auf „Fall eröffnen“. Geben Sie dann die nötigen Informationen wie Anfangsdatum und Behandlungsgrund an und beenden mit „speichern.“
  </p>
  
  <h3 id="add_new_service_item">Leistung erfassen</h3>
  <p>
    <a href="images/docs/add_service.png"><img class="right" src="images/docs/small/add_service.png" /></a>
    Öffnen Sie einen Patienten und klicken Sie links auf Fälle. Der aktuelle Fall wird angezeigt und Sie können mit dem Erfassen von Leistungen (Tarmed, Analysenliste, Medikamente) beginnen. Klicken Sie erst auf den Link „Neue Konsultation“. Nun können Leistungen anhand der Tarifnummer oder der Beschreibung gesucht werden. Wenn nur eine Leistung zum Suchbegriff gefunden wird, übernimmt CyDoc diese automatisch. Falls mehrere Leistungen gefunden werden, müssen Sie eine mit der Maus anklicken.
  </p>
  
  <h3 id="erase_service_item">Leistung löschen</h3>
  <p>
    <a href="images/docs/erase_service.png"><img class="left" src="images/docs/small/erase_service.png" /></a>
    Um eine Leistung zu löschen, klicken Sie einfach Rechts neben dem Text auf das rote Kreuz.
  </p>

  <h3 id="add_diagnose">Diagnose erfassen</h3>
  <p>
    <a href="images/docs/add_diagnose.png"><img class="right" src="images/docs/small/add_diagnose.png" /></a>
    Im Suchfeld unter „Diagnosen“ können Sie nach Diagnosen suchen. Wenn die Suche eindeutig ist, wird die Diagnose automatisch erfasst, falls es mehrere Treffer gibt, müssen Sie eine Position wählen. Selbstverständlich können Sie nach den Diagnosecodes oder auch nach dem Diagnosetext suchen. Um weitere Diagnosen eingeben zu können klicken Sie auf „neue Diagnose“.
  </p>

  <h3 id="open_cases">Fälle Administrieren</h3>
  <p>
    <a href="images/docs/print_reminder2.png"><img class="right" src="images/docs/small/print_reminder2.png" /></a>
    Um eine Übersicht über die offenen Fälle zu bekommen, klicken Sie auf "Rechnungen". Fahren Sie dann im Bild nach unten bis Sie den Titel "Nicht abgeschlossene Fälle" finden. Dort sehen Sie jetzt eine Liste aller Patientinnen die einen offen Fall haben. Um einen Fall zu bearbeiten oder eine Rechnung zu erstellen, klicken Sie auf entsprechende Fallnummer.
  </p>

  <h3 id="create_invoice">Rechnung erstellen</h3>
  <p>        
    <a href="images/docs/create_invoice.png"><img class="left" src="images/docs/small/create_invoice.png" /></a>
    Um aus den erfassten Leistungen eine Rechnung zu generieren, klicken Sie auf „Rechnung stellen“.
  </p>
  <p>
    Ein neues Formular wird geöffnet, bei dem Sie das Rechnungsdatum, den Garanten und nach Wunsch auch noch Bemerkungen angeben können. Erstellen Sie nun die Rechnung indem Sie auf „Erstellen“ klicken.
  </p>
  <p>   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="images/docs/create_invoice2..png"><img class="left" src="images/docs/small/create_invoice2..png" /></a>
    Sie werden dann nach und nach über den Status informiert und gefragt, ob die Rechnung gedruckt werden soll und ob die Rechnung verbucht werden soll. Antworten Sie entsprechend jeweils mit „Ja“ oder „Nein“.
  </p>
  
  <h3 id="copy_of_invoice_print">Rechnungskopie drucken</a></h3>

  <p>      
    <a href="images/docs/print_reminder.png"><img class="right" src="images/docs/small/print_reminder.png" /></a>
    Wählen Sie einen Patienten aus (wenden Sie dazu die Suche an, welche weiter oben genauer beschrieben ist). Nun klicken Sie im linken Menu auf den Link „Rechnungen“. Im Fenster erscheint die aktuellste Rechnung. Um eine ältere Rechnung auszuwählen, klicken Sie rechts auf die gewünschte Rechnung. Sie können nun eine Rechnungskopie drucken, indem Sie auf „Rechnungskopie drucken“ klicken.
  </p>
          
  <h3 id="book_payment">Zahlung verbuchen</h3>
  
  <h4 id="with_vers_or_besr">mit VESR/BESR</h4>
  <p>        
    <a href="images/docs/vesr1.png"><img class="left" src="images/docs/small/vesr1.png" /></a>
    Laden Sie die VESR-Datei von Ihrer Bank herunter und merken Sie sich, in welchen Ordner Sie die Datei gespeichert haben.
  </p> 
  <br/>
  <br/>
  <br/>
  <p>
    <a href="images/docs/vesr2.png"><img class="left" src="images/docs/small/vesr2.png" /></a>
    Gehen Sie dann in CyDoc (Home-Site) auf „VESR-Liste“und klicken Sie auf „VESR Datei einlesen“. Danach klicken auf Durchsuchen, wählen die richtige Datei und  bestätigen mit „Öffnen“. Wenn Sie nun auf Einlesen klicken, wird die Datei hoch geladen und verbucht. Als Bestätigung wird ein Protokoll angezeigt, welches Sie bei bedarf ausdrucken können.
  </p>

  <h4 id="book_payment_manually">manuell verbuchen</h4>
  <p>
    <a href="images/docs/book_reminder.png"><img class="right" src="images/docs/small/book_reminder.png" /></a>
    Um manuell eine Zahlung zu verbuchen, öffnen Sie bitte die betreffende Rechnung. Klicken Sie dann unter „Buchungen“ auf „Manuell buchen“. Geben Sie dann das Zahlungsdatum, die Zahlungsart, optional eine Bemerkung und den Betrag an. Dann klicken Sie abschliessend auf „Buchen“.
  </p>