%h2#first_steps Erste Schritte
%h3#login_to_Cydoc Bei CyDoc anmelden
%a{:href => "images/docs/login.png"}
  %img.right{:src => "images/docs/small/login.png"}/
%p
  Öffnen Sie die folgende Internet-Adresse mit dem Firefox (empfohlen) oder einem anderen Webbrowser #{link_to "http://cydoc.demo.cyt.ch"}.
%p Geben Sie auf der Anmeldeseite Ihren Benutzernamen und Ihr Passwort ein.
%p Bestätigen Sie dann mit „Anmelden“.
%p
  Um einen ersten Eindruck unserer Software zu erhalten, können Sie mit den folgenden Login-Daten auf unsere Test-Datenbank zugreifen. Es handelt sich dabei um Testdaten und dürfen beliebig angepasst werden.
%br/
%h5 Login: demo
%h5 Passwort: demo1234
%h3#search_patient Patient suchen
%p
  %a{:href => "images/docs/search_patient.png"}
    %img.right{:src => "images/docs/small/search_patient.png"}/
  Rechts oben befindet sich stets ein Suchfeld, um Patienten zu suchen. Geben Sie im Suchfeld einen Teil des Vor- und/oder Nachnamens der gewünschten PatientIn ein. Es kann auch nach dem Geburtsdatum gesucht werden. Nun drücken Sie „Enter“ um die PatientIn zu suchen.
%br/
%br/
%br/
%br/
%br/
%br/
%p
  %a{:href => "images/docs/search_patient2.png"}
    %img.right{:src => "images/docs/small/search_patient2.png"}/
  Im unteren Bereich des Fensters erscheint nun eine Liste aller gefundenen PatientInnen, welche den Suchbegriff enthalten. (Falls Sie nach „ülle“ suchen, wird auch Frau Meier-Müller gefunden). Um die Details anzuzeigen klicken Sie einfach auf die gewünschte PatientIn.
%br/
%br/
%br/
%br/
%p
  %a{:href => "images/docs/inplace_edit.png"}
    %img.right{:src => "images/docs/small/inplace_edit.png"}/
  Die Personalien werden auf der Hauptseite angezeigt. Um die Personalien zu ändern, klicken Sie bitte auf „Ändern“. Die Daten werden dann editierbar. (Genauere Beschreibung im nächsten Kapitel).
%p Für kleine Änderungen an Personendaten (z.B. Namen oder Adresse falsch geschrieben), kann das fehlerhafte Feld direkt angeklickt werden.
%p Jetzt kann man das Feld editieren und mit „OK“ speichern.
%p Mit „Cancel“ kann man das Editieren abbrechen.
%h3#edit_patient Patient bearbeiten
%p
  %a{:href => "images/docs/edit_personality.png"}
    %img.right{:src => "images/docs/small/edit_personality.png"}/
  Öffnen Sie eine PatientIn und klicken Sie dann auf „Ändern“. Danach erscheint die Eingabemaske zum korrigieren der Personalien. Klicken Sie nach der Korrektur auf „speichern“ um wieder auf die Patienten-Ansicht zu gelangen.
%h3#build_a_new_patient Neue Patienten anlegen
%p
  %a{:href => "images/docs/add_patient1.png"}
    %img.right{:src => "images/docs/small/add_patient1.png"}/
  Klicken Sie im Hauptmenü auf Patienten und im nun geöffneten Fenster auf „Erfassen“. Eine Maske zur Eingabe der Personalien öffnet sich. Schliessen Sie dann mit „Speichern“ ab.
  %br/
  %br/
  %br/
  %br/
  %br/
  %a{:href => "images/docs/add_patient2.png"}
    %img.right{:src => "images/docs/small/add_patient2.png"}/
