%h2#reminder_mechanism Mahnwesen
%h3#show_actual_reminder Fällige Mahnungen anzeigen
%p
  %a{:href => "images/docs/print_reminder2.png"}
    %img.right{:src => "images/docs/small/print_reminder2.png"}/
  Um die fälligen Mahnungen anzuzeigen, klicken Sie oben auf „Rechnungen“. Unter dem Titel „Überfällige Rechnungen“ sind alle Rechnungen aufgelistet, welche gemahnt werden sollen, oder bereits gemahnt wurden.
%h3#print_reminders Mahnungen drucken
%p
  %a{:href => "images/docs/reminder.png"}
    %img.right{:src => "images/docs/small/reminder.png"}/
  Öffnen Sie zum Drucken einer Mahnung die betreffende Rechnung und klicken Sie auf „Mahnung drucken“. Die Mahnung wird dann erstellt und direkt ausgedruckt.
%p Wenn man alle Mahnungen auf einmal ausdrucken möchte, geht man auf „Rechnungen“. Rechts oben hat man nun einen Link „Alle Mahnungen drucken“. Diesen wählt man aus.
