- content_for :sidebar do
  .help-sidebar
    %h3 Inhaltsverzeichnis
    %ol
      %li
        %h4
          %a{:href => "#first_steps"} Erste Schritte
      %li
        %h4
          %a{:href => "#accounting"} Rechnungswesen
      %li
        %h4
          %a{:href => "#reminder_mechanism"} Mahnwesen
      %li
        %h4
          %a{:href => "#basic_claims_data"} Stammdaten
      %li
        %h4
          %a{:href => "#tips_and_tricks"} Tips und Tricks
