<% content_for :sidebar do -%>
<div class="help-sidebar">
  <h3>Inhaltsverzeichnis</h3>
  <ol>
    <li>
      <h4><a href="#first_steps">Erste Schritte</a></h4>
    </li>
    <li>
      <h4><a href="#accounting">Rechnungswesen</a></h4>
    </li>
    <li>
      <h4><a href="#reminder_mechanism">Mahnwesen</a></h4>
    </li>
    <li>
      <h4><a href="#basic_claims_data">Stammdaten</a></h4>
    </li>
    <li>
      <h4><a href="#tips_and_tricks">Tips und Tricks</a></h4>
    </li>
  </ol>
</div>
<% end -%>
