<tr style="cursor: pointer" onclick="window.location='<%= url_for(:only_path => false, :controller => 'insurances', :action => 'show', :id => item) %>'">
  <td><b/><%=h item.name %></b></td>
  <td><%=h item.description %></td>
</tr>
