<script type="text/javascript">
  $('search_query').focus()
</script>

<div class="box">
  <% remote_form_for 'search', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => select_patient_session_service_records_path(params['patient_id'] || @patient.id, params[:session_id]), :html => {:method => :get}, :method => :get do |f| %>
    <%= f.label 'query', 'Leistung' %>
    <%= f.text_field :query, :label => "Suche", :size => 15, :autocomplete => 'off' %>

    <%= image_submit_tag 'find.png', :title => 'Suchen' %>
    <%= image_tag("indicator.gif",
                  :align => "absmiddle",
                  :border => 0,
                  :id => "spinner",
                  :style =>"display: none;" ) %>
  <% end %>

  <div id="search_results"></div>
</div>
