.search_form
  = simple_form_for 'search', :url => select_patient_session_service_records_path(session.patient, session), :method => :get, :remote => true do |f|
    = f.input :query, :as => :string, :autocomplete => 'off', 'data-autofocus' => true
