.box.search_form
  = simple_form_for 'search', :url => select_patient_session_service_records_path(@session.patient.id, @session.id), :method => :get, :remote => true do |f|
    = f.input :query, :as => :select, :collection => TariffItem.all, :autocomplete => 'off', 'data-autofocus' => true, :input_html => {:class => 'select2'}
