%tr{:onclick => remote_function(:method => 'post', :url => patient_session_service_records_path(@patient, @session, :tariff_item_id => select_item.id)), :style => "cursor: pointer", :title => select_item.remark}
  %td{:style => "text-align:right"}= select_item.code
  %td
    %span{:style => "font-weight: bold"}= truncate(select_item.remark, :length => 100, :separator => ' ')
  %td{:style => "text-align:right"}
    %b>= sprintf('%.2f', select_item.amount)
    \&nbsp;CHF
