<% unless overview_list.classification == @old_classification %>
  <% unless @old_classification.nil? %>
    </table>
    <table class="list">
  <% end %>
  <% @old_classification = overview_list.classification %>
  <tr class="PAP_<%=h overview_list.classification.code unless overview_list.classification.nil? %>" style="font-weight: bold; border: 0px">
    <th colspan="5" style="font-size: 0.9em; font-weight: bold; padding: 0.1em 0.5em; border: 0px" ><%=h @old_classification.name %></th>
  </tr>
<% end %>

<%= render :partial => 'overview_item', :object => overview_list %>
