<h2>PAPs in Verarbeitung</h2>
<table class="listing">
  <%= render :partial => 'cases/list', :collection => @open_cases if @open_cases %>
</table>

<%= render :partial => 'overview' %>

<% if @older_mailings %>
<h2>Ältere Versande</h2>
<table class="listing">
  <%= render :partial => 'list', :collection => @older_mailings %>
</table>
<% end %>
