<h1>Resultat Versand</h1>

<p class="infobox">
Hier finden Sie eine Liste der Ihnen zugesandten Resultate.
</p>

<table class="listing">
<% for mailing in @mailings %>
  <tr>
    <td/>
    <td style="text-align: right"><%= link_to mailing.cases.count, :action => 'overview', :id => mailing %></td>
    <td>
      <%=h mailing.doctor.nil? ? "Unbekannter Arzt" : mailing.doctor.name %>
    </td>
    <td><%=h mailing.printed_at.strftime('%d.%m.%Y') unless mailing.printed_at.nil? %></td>
  </tr>
<% end %>
</table>
