<div id="search_result">
  <table class="list">
    <%= render :partial => 'treatments/list_header' %>
    <%= render :partial => 'treatments/item', :collection => @treatments %>
    <%= render :partial => 'treatments/list_footer' %>
  </table>
</div>
