<div class="contextual">
  <%= link_to "Ändern", edit_treatment_path(@treatment), :class => "icon icon-edit" %>
  <%= link_to "Rechung erstellen", new_invoice_path, :method => :post, :class => "icon icon-add" %>
</div>
