<div class="contextual">
  <%= link_to_remote t('cydoc.actions.add_insurance'), {:url => new_patient_insurance_policy_url(@patient), :method => :get}, :class => "icon icon-add" unless @patient.new_record?%>
</div>
<h3><%= t('cydoc.title.insurance') %></h3>
<div>
  <% if @patient.new_record? %>
    <%= render :partial => 'insurance_policies/form' %>
  <% else %>
    <div id="new_insurance_policy" class="new_insurance_policy"></div>
  <% end %>

  <table id="insurance_policies" class="list">
    <%= render :partial => 'insurance_policies/item', :collection => @patient.insurance_policies %>
  </table>
</div>

