[submodule "vendor/plugins/has_accounts"]
	path = vendor/plugins/has_accounts
	url = http://github.com/huerlisi/has_accounts.git
[submodule "vendor/plugins/vcards"]
	path = vendor/plugins/vcards
	url = project.client.zytolabor.ch:/srv/client.zytolabor.ch/code/git/rails-plugins/vcards.git/
[submodule "vendor/plugins/has_scope"]
	path = vendor/plugins/has_scope
	url = http://github.com/huerlisi/has_scope.git
[submodule "vendor/plugins/prawnto"]
	path = vendor/plugins/prawnto
	url = http://github.com/huerlisi/prawnto.git
[submodule "vendor/plugins/printable"]
	path = vendor/plugins/printable
	url = http://github.com/huerlisi/printable.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = http://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/loading_indicator"]
	path = vendor/plugins/loading_indicator
	url = http://github.com/huerlisi/loading_indicator.git
[submodule "vendor/plugins/has_delegates"]
	path = vendor/plugins/has_delegates
	url = project.client.zytolabor.ch:/srv/client.zytolabor.ch/code/git/rails-plugins/has_delegates.git
[submodule "vendor/plugins/in_place_editing"]
	path = vendor/plugins/in_place_editing
	url = http://github.com/rails/in_place_editing.git
