# Boring files
# ============
*~
.#*
_darcs
DEADJOE

# Rails
# =====
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

# Vendor
vendor/cache
vendor/bundle

# Volatile
doc/api
doc/app
public/stylesheets/all.css

# Local
config/database.yml

# Rails Plugins
# =============
# restful-authentication
config/initializers/site_keys.rb

# Deployment
# ==========
config/deploy_provider.rb
config/deploy

# CyDoc
# =====
data/
db/backup/
public/esr_files
