# Boring files
# ============
*~
.#*
_darcs
DEADJOE

# Rails
# =====
# Vendor
vendor/

# Volatile
log/
tmp/
db/*.sqlite3
doc/api
public/stylesheets/all.css

# Local
config/database.yml

# Rails Plugins
# =============
# restful-authentication
config/initializers/site_keys.rb

# CyDoc
# =====
data/
db/backup/
public/esr_files
