[submodule "vendor/plugins/accounting"]
	path = vendor/plugins/accounting
	url = project.client.zytolabor.ch:/srv/intern.cyt.ch/code/git/rails-plugins/accounting.git
[submodule "vendor/plugins/vcards"]
	path = vendor/plugins/vcards
	url = project.client.zytolabor.ch:/srv/intern.cyt.ch/code/git/rails-plugins/vcards.git/
[submodule "vendor/plugins/has_scope"]
	path = vendor/plugins/has_scope
	url = git@github.com:huerlisi/has_scope.git
