[submodule "vendor/plugins/accounting"]
	path = vendor/plugins/accounting
	url = project.client.zytolabor.ch:/srv/client.zytolabor.ch/code/git/rails-plugins/accounting.git
[submodule "vendor/plugins/vcards"]
	path = vendor/plugins/vcards
	url = project.client.zytolabor.ch:/srv/client.zytolabor.ch/code/git/rails-plugins/vcards.git/
[submodule "vendor/plugins/has_scope"]
	path = vendor/plugins/has_scope
	url = http://github.com/huerlisi/has_scope.git
[submodule "vendor/plugins/prawnto"]
	path = vendor/plugins/prawnto
	url = http://github.com/huerlisi/prawnto.git
[submodule "vendor/plugins/printable"]
	path = vendor/plugins/printable
	url = http://github.com/huerlisi/printable.git
