<fieldset>
<legend><%= @cases.size %> Resultate f&uuml;r Suche nach '<%= params[:search][:query] %>'</legend>
  <table class="listing" style="margin-top: 0px">
    <%= render :partial => '/cases/list', :collection => @cases %>
  </table>
  <p><%= "mehr als 100 Resultate..." if @cases.size == 100 %></p>
</fieldset>
