<h3>Rechnung</h3>

<p><%= link_to "Rechnung anzeigen", :controller => :invoices, :action => :patient_letter, :id => @invoice %></p>
<p><%= link_to "Rückforderungsbeleg anzeigen", :controller => :invoices, :action => :insurance_recipe, :id => @invoice %></p>
<!--
<p><%= link_to_remote "Rechnung als PDF", :update => 'result', :url => {:controller => :invoices, :action => :patient_letter_for_pdf, :id => @invoice} %></p>
<p><%= link_to_remote "Rückforderungsbeleg als PDF", :update => 'result', :url => {:controller => :invoices, :action => :insurance_recipe_for_pdf, :id => @invoice} %></p>
-->
