<div id="invoice_<%= @invoice.id %>_flash" class="flash notice">
  <p>Rechnung erstellt...</p>
  <p>
    Möchten Sie die Rechnung drucken?
    <%= button_to_function 'Ja', remote_function(:url => book_invoice_url(@invoice)) %>
    <%= button_to_function 'Nein', "$('invoice_<%= @invoice.id %>_flash').hide" %>
  </p>
</div>
