<div style="position: relative">
  <div id="invoice">
    <%= render :partial => 'invoice_info' %>
    <%= render :partial => 'encashment_parties' %>

    <%= render :partial => 'reminder_balance' %>

    <%= render :partial => "reminder_message" %>

  </div>
<div>
