<div style="position: absolute; top: 21.2cm; width: 100%">
  <%= render :partial => 'insurance_recipe_balance' %>
</div>
<div id="insurance-recipe-vesr"><%= @invoice.esr9(@invoice.biller.account) %></div>
