<table class="insurance-recipe-subtotal">
  <tr>
    <td class="total" style="width:3cm">Zwischentotal</td>
    <td class="total">CHF</td>
    <td class="totalamount" style="text-align: right"><%=h sprintf('%0.2f', @subtotal.currency_round) %></td>
  </tr>
</table>
