  </table>
  <%= render :partial => 'insurance_recipe_subtotal' %>
  <div class="insurance-recipe-vesr"><%= @invoice.esr9(@invoice.biller.account) %></div>
</div>

<%
  @line_counter = 0
  @page          += 1
%>
<?page-break>

<div class="insurance-recipe">
  <%= render :partial => 'insurance_recipe_head' %>
  <table class="service-record-list">
    <%= render :partial => 'service_record_head' %>
