<div id="search_result">
  <table class="list">
    <%= render :partial => 'invoices/list_header' %>
    <%= render :partial => 'invoices/item', :collection => @invoices %>
    <%= render :partial => 'invoices/list_footer' %>
  </table>
</div>
