%table.table.table-striped
  %tr
    %th Nummer
    %th Patient
    %th Datum
    %th Fällig
    %th{:style => "text-align: right"} Betrag
    %th{:style => "text-align: right"} Saldo
    %th{:style => "text-align: right"} Status
    %th

  = render collection

= render 'invoices/sidebar'
