.contextual
  = link_to "Rechnungen drucken", {:url => new_invoice_batch_job_path, :method => :get}, :class => "icon icon-print", :remote => true
%h2 Offene Fälle
#open_treatments
  = render :partial => 'treatments/list'
