<div class="contextual">
  <%= link_to_remote "Alle Mahnungen drucken", {:url => print_reminders_for_all_invoices_path, :before => "showPrintingFlash('invoice_list_flash', '#{Invoice.overdue.count} Mahnung(en)', #{Invoice.overdue.count})"}, :class => "icon icon-print" %>
</div>
<div id="overdue_invoice_list">
  <h2>Überfällige Rechnungen</h2>
  <% @invoices = @overdue %>
  <%= render :partial => 'list' %>
</div>

