<div style="position: relative">
<div id="invoice">
<%= render :partial => 'invoice_info' %>

<%= render :partial => 'invoice_parties' %>

<div id="invoice-balance">
  <%= render :partial => 'insurance_recipe_balance' %>
</div>

<%
@bank_account = @invoice.biller.account
%>

<%= render :partial => 'invoice_vesr' %>

</div>
<div>
