<div id="invoice_flash" class="flash notice" style="display: none"></div>

<div class="contextual">
  <%= link_to_remote "Rechnungen drucken", {:url => new_invoice_batch_job_path, :method => :get}, :class => "icon icon-print" %>
</div>
<h2>Rechnungen zum Drucken</h2>
<% @invoices = @prepared %>
<%= render :partial => 'list' %>
