<h3><%= t('cydoc.title.treatment_sessions') %></h3>
<div id="service_list">
  <table class="service_records" style="width: 97%">
    <%= render :partial => 'invoices/service_record', :collection => @invoice.service_records %>
  </table>
</div>
