%tr
  %th{:style => "width:2.2cm"} Datum
  %th{:style => "width:0.9cm"} Tarif
  %th{:style => "width:1.5cm"} Tarifziffer
  %th{:style => "width:1.7cm"} Bezugsziffer
  %th{:style => "width:0.8cm"} Si&nbsp;St
  %th{:style => "width:1cm; text-align:right"} Anzahl
  %th{:style => "width:1.7cm; text-align:right"} TP&nbsp;AL/Preis
  %th{:style => "width:1cm; text-align:right"} f&nbsp;AL
  %th{:style => "width:1.2cm; text-align:right"} TPW&nbsp;AL
  %th{:style => "width:1cm; text-align:right"} TP&nbsp;TL
  %th{:style => "width:0.8cm; text-align:right"} f&nbsp;TL
  %th{:style => "width:1.1cm; text-align:right"} TPW&nbsp;TL
  %th{:style => "width:0.3cm; text-align:right"} A
  %th{:style => "width:0.3cm; text-align:right"} V
  %th{:style => "width:0.3cm; text-align:right"} P
  %th{:style => "width:0.3cm; text-align:right"} M
  %th{:style => "width:1.4cm; text-align:right"} Betrag
