<h2>Fall import</h2>
<p>
  Es wurden <%= @case_count %> Fälle importiert.
</p>

<%- if @failed_cases.present? %>
<p>
 Davon waren <%= @failed_cases.count %> fehlerhaft.
</p>

<ul>
  <%- for failed_case in (@failed_cases || [])%>
    <li><%= link_to failed_case.to_s, "https://hozr/cases/#{failed_case.id}" %></li>
  <%- end %>
</ul>
<%- end %>
