<div id="invoice_list_flash" class="flash notice" style="display: none"></div>

<div class="contextual">
  <%= link_to "VESR Liste", esr_bookings_path, :class => "icon icon-book" %>
</div>
<%=
tab_container 'invoice', "Rechnungen", [
  {:name => 'search', :partial => 'search_tab', :label => 'Suche'},
  {:name => 'overdue', :partial => 'overdue_tab', :label => 'Mahnliste'},
  {:name => 'open', :partial => 'open_tab', :label => 'Offene Fälle'},
  {:name => 'prepared', :partial => 'prepared_tab', :label => 'Zum Drucken'}
]
%>

