<h2>Rechnungen</h2>

<script type="text/javascript">
  Event.observe(window, 'load', function() {$('search_query').focus()}, false);
</script>

<div id="search_form">
  <%= render :partial => 'search_form' %>
  <%= loading_indicator_tag :id => 'search' %>
</div>

<div id="search_results">
  <%= render :partial => 'list' %>
</div>


<h2>Patienten mit offenen Leistungen</h2>

<h2>Rechnungen zum Drucken</h2>
<% @invoices = Invoice.prepared %>
<%= render :partial => 'list' %>
