<div id="invoice_list_flash" class="flash notice" style="display: none"></div>

<div class="contextual">
  <%= link_to "VESR Liste", esr_files_path, :class => "icon icon-book" %>
</div>
<%=
tabs = [
  {:name => 'search', :partial => 'search_tab', :label => 'Suche'},
  {:name => 'overdue', :partial => 'overdue_tab', :label => 'Mahnliste'},
  {:name => 'open', :partial => 'open_tab', :label => 'Offene Fälle'}
]

tabs << {:name => 'prepared', :partial => 'prepared_tab', :label => 'Zum Drucken'} unless @prepared.empty?

tab_container 'invoice', "Rechnungen", tabs
 %>
