.contextual
  = icon_link_to "Patient anzeigen", resource.patient, :class => "icon icon-show"
  = contextual_link_to :print, nil, :method => :post, :remote => true

= render 'show'

- content_for :sidebar do
  = render 'patients/sidebar', :resource => resource.patient
