.contextual
  = icon_link_to t_title(:show, Patient), resource.patient, :icon => :show
  = contextual_link_to :print, nil, :method => :post, :remote => true

= render 'show'

- content_for :sidebar do
  = render 'patients/sidebar', :resource => resource.patient
