<tr style="cursor: pointer" onclick="<%= remote_function(:method => 'post', :url => assign_patient_treatment_medical_case_path(@patient, @treatment, item.id)) %>">
  <td><%= item.type %></td>
  <td><%= item.code %></td>
  <td><%= item.text %></td>
</tr>
