.contextual
  = link_to "Erfassen", {:url => new_drug_product_path, :method => :get}, :class => "icon icon-add", :remote => true
  = link_to "Alle anzeigen", {:url => drug_products_path(:all => true), :method => :get}, :class => "icon icon-index", :remote => true
= tab_container 'catalogs', "Medikamente", [                    |
    {:name => 'all', :partial => 'list_tab', :label => 'Alle'}, |
  ]                                                             |
