<div class="contextual">
  <%= link_to "Tarif erzeugen", create_tariff_item_drug_product_url(@drug_product), :method => :put, :class => "icon icon-add" %>
</div>

<h2>Medikament</h2>
<%= render :partial => 'show' %>
