%h3 Kontakt
%table.table.table-striped.collection
  %tr
    %th Name:
    %td= resource.full_name
  %tr
    %th Adresse:
    %td= address(resource.vcard, ', ')
%h3 Information
%table
  %tr
    %th Rolle:
    %td= resource.role(:text)
  %tr
    %th EAN:
    %td= resource.ean_party
