<% show ||= @insurance -%>

<h3>Kontakt</h3>
<table>
  <tr>
    <th>Name:</th>
    <td><%= show.full_name %></td>
  </tr>
  <tr>
    <th>Adresse:</th>
    <td><%= address(show.vcard, ', ') %></td>
  </tr>
</table>

<h3>Information</h3>
<table>
  <tr>
    <th>Rolle:</th>
    <td><%= show.role(:text) %></td>
  </tr>
  <tr>
    <th>EAN:</th>
    <td><%= show.ean_party %></td>
  </tr>
</table>
