<div class="contextual">
  <%= link_to "Alle anzeigen", {:url => insurances_path(:all => true), :method => :get}, :class => "icon icon-index", :remote => true %>
  <%= contextual_link_to :new %>
</div>

<h2>Versicherungen</h2>

<script type="text/javascript">
  Event.observe(window, 'load', function() {$('search_query').focus()}, false);
</script>

<div id="search_form">
  <%= render :partial => 'search_form' %>
</div>

<div id="search_results">
  <%= render :partial => 'list' %>
</div>
