<h1>Editing consultation</h1>

<%= error_messages_for :consultation %>

<% form_for(@consultation) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @consultation %> |
<%= link_to 'Back', consultations_path %>
