<h1>New consultation</h1>

<%= error_messages_for :consultation %>

<% form_for(@consultation) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', consultations_path %>
