/**** CyDoc ****/

/* Icons */
.icon-doctor48 { background-image: url(../images/48x48/doctor.png); }
.icon-patient48 { background-image: url(../images/48x48/patient.png); }
.icon-invoice48 { background-image: url(../images/48x48/invoice.png); }
.icon-catalogs48 { background-image: url(../images/48x48/catalogs.png); }
.icon-appointments48 { background-image: url(../images/48x48/appointments.png); }
.icon-recalls48 { background-image: url(../images/48x48/appointments.png); }

.icon-add { background-image: url(../images/add.png); }
.icon-delete { background-image: url(../images/delete.png); }
.icon-reactivate { background-image: url(../images/reactivate.png); }
.icon-print { background-image: url(../images/print.png); }
.icon-search { background-image: url(../images/search.png); }
.icon-book { background-image: url(../images/book.png); }

.icon-pdf { background-image: url(../images/pdf.png); }
.icon-spinner { background-image: url(../images/indicator.gif); }

/* Sessions */
table.session {
  margin-left:  1em;
  margin-right: 1em;
  width:        100%;
}

/* Invoices */
.invoice.reactivated, .invoice.canceled {
  text-decoration: line-through;
  font-style: italic;
  color: #999999;
}

/* Cases */
div.case_info { background:#ffffdd; padding:6px; margin-bottom:6px; border:1px solid #d7d7d7; }
table.overview-group { margin-bottom:1.8em; border-width:2px}
table.overview-group tr th { border-bottom:1px solid #888888; font-size:0.9em;}
.box {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}

ul.case-history { list-style: none; padding-left: 1em; }
ul.case-history li { margin: 0; padding-left: 1em; background-color: white; }

@media print {
  div.case_info { background:white; border:0 }
}
