.PAP_1, input.PAP_1 {color:black; background-color: white; }
.PAP_2, input.PAP_2 {color:black; background-color: white; }
.PAP_2A, .PAP_2AG, .PAP_2AS, .PAP_2AG_AS, input.PAP_2A, input.PAP_2AG, input.PAP_2AS {color: black; background-color: yellow; }
.PAP_2-3A, .PAP_2-3AG, .PAP_2-3AS, .PAP_2-3AG_AS, input.PAP_2-3A, input.PAP_2-3AG, input.PAP_2-3AS {color: black; background-color: yellow; }
input.PAP_2AG_AS, input.PAP_2-3AG_AS {color: black; background-color: #ffff97;}
.PAP_3L, .PAP_3M-c1-2, .PAP_3S-c2-3, input.PAP_3L {color: black; background-color: #0066FF; }
input.PAP_3M-c1-2, input.PAP_3S-c2-3 {color: black; background-color: #7eafff }
.PAP_3L, input.PAP_3L {color: black; background-color: #0066FF; }
.PAP_3M, input.PAP_3M {color: black; background-color: #0066FF; }
.PAP_3S, input.PAP_3S {color: black; background-color: #0066FF; }
.PAP_4, input.PAP_4 {color: black; background-color: red; }
.PAP_5, input.PAP_5 {color: black; background-color: red; }
.PAP_hpv, input.PAP_hpv {color: black; background-color: #00CC00; }
.PAP_mam, input.PAP_mam {color: black; background-color: #00CC00; }
.PAP_sput, input.PAP_sput {color: black; background-color: #00CC00; }

@media print {
  .PAP_2A, .PAP_2AG, .PAP_2AS, .PAP_2AG_AS, .PAP_2-3A, .PAP_2-3AG, .PAP_2-3AS, .PAP_2-3AG_AS {color: black; background-color: #FFFF88; }
  .PAP_3L, .PAP_3M-c1-2, .PAP_3M, .PAP_3S-c2-3, .PAP_3S {color: black; background-color: #BBAAFF; }
  .PAP_4, .PAP_5 {color: black; background-color: #FF9191; }
  .PAP_hpv, .PAP_mam, .PAP_sput {color: black; background-color: 74CC74;}
}

input.Finding_a {color: black; background-color: #00CC00; }
input.Finding_b {color: black; background-color: yellow; }
input.Finding_c {color: black; background-color: red; }

tr.bill_state_cancelled {
  color: grey;
}

td.bill_state_cancelled {
  background-color: inherit;
}

td.embedded_bill_state_payed{
  background-color: #99FF66;
}

td.bill_state_payed {
  background-color: green;
}

td.embedded_bill_state_reminded{
  background-color: #FFFF66;
}

td.bill_state_reminded {
  background-color: yellow;
}

td.embedded_bill_state_prosecuted{
  background-color: #FF99CC;
}

td.bill_state_prosecuted {
  background-color: red;
}
