td {
  vertical-align: top;
}

.report .title {
  font-family: Arial,DejaVu Sans;
  font-weight: bold;
}

.report {
  font-family: Arial,DejaVu Sans;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
}

.report #subject {
  margin-top: 0.5cm;
  margin-bottom: 0.2cm;
}

.report #patient {
}

.report #insurance {
  font-family: Arial,DejaVu Sans;
}

.report #doctor {
}

.report #case {
  font-family: Arial,DejaVu Sans;
}

.report #remarks {
}

.report #classification {
  font-family: Arial,DejaVu Sans;
  font-weight: bold;
  font-size: 110%;
  border: solid 1pt;
  left: 0cm;
  width: 11cm;
  padding: 4px;
}

.report #signature {
  margin: 0.8cm 3cm;
  font-family: Arial,DejaVu Sans;
  font-style: italic;
}

/* Finding Classes */
.report #special_findings {
  font-family: Arial,DejaVu Sans;
  width: 5cm;
}

.report #finding_list {
  font-family: Arial,DejaVu Sans;
  width: 6.5cm;
}

.finding_group_Kontrolle {
  font-family: Arial,DejaVu Sans;
  font-weight: bold;
  text-align: right;
}

.finding_group_Zustand {
  font-family: Arial,DejaVu Sans;
  font-style: italic;
}

/* HPV Result Report */
.report #hpv_classification {
  font-family: Arial,DejaVu Sans;
  font-weight: bold;
  font-size: 110%;
  border: solid 1pt;
  width: 10.4cm;
  padding: 4px;
}

.report #hpv_findings {
  font-family: Arial,DejaVu Sans;
  width: 10.4cm;
}

.report #hpv_remarks {
  font-family: Arial,DejaVu Sans;
  width: 10.4cm;
}

.report #eg_remarks {
  font-family: Arial,DejaVu Sans;
  width: 10.4cm;
}

.info th {
  text-align: left;
  font-weight: normal;
  font-style: italic;
}

#MainContent .report h2 {
  font-size: 1em;
  margin-bottom: 0;
}
