.sheet_a4 {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
}

@media screen {
  .sheet_a4 {
    border: solid 1px black;
  }
}

@media print {
  body {
    background: white;
  }

  input[type=submit] {
    border: none;
    background: white;
  }
}

.title {
  font-family: ChollaSansBold;
}

.sheet_a4 #subject {
  position: absolute;
  top: 5.5cm;
  left: 0cm;
  width: 10cm;
}


.letter {
  font-family: ChollaSansRegular,Arial;
  font-size: 12pt;
  position: absolute;
  top: 5cm;
  left: 2.4cm;
}

.letter_follow_page {
  font-family: ChollaSansRegular,Arial;
  font-size: 12pt;
  position: relative;
  top: 5cm;
  left: 2.4cm;
}

.letter #doctor {
  position: absolute;
  top: 0cm;
  left: 10cm;
  width: 5cm;
}

.letter #date {
  position: absolute;
  top: 3.8cm;
  left: 10cm;
  width: 5cm;
}


.letter #salutation {
  position: absolute;
  top: 6.5cm;
  left: 0cm;
  width: 15.5cm;
}

.letter #text {
  position: absolute;
  top: 7.5cm;
  left: 0cm;
  width: 15.5cm;
}

.letter_follow_page .text {
  position: relative;
  top: 1cm;
  left: 0cm;
  width: 15.5cm;
}
