/**** ZytoLabor ****/
#header { background-color: #AEB9CF; }

table th { text-align: left; font-size:90%}

h3 {
  padding-top: 0.2em;
  padding-bottom: 0.1em;
}

h4 {
  margin-top: 0;
}

/* Welcome */
.welcome { margin: 2em; margin-bottom: 3.5em; }
.welcome p { width: 100%; font-size: 13pt; font-variant:italic }
.welcome p img { margin-right: 0.5em; float: left; }

/* Forms */
.fieldWithErrors { display: inline}
.fieldWithErrors input { border-color:#dd0000}
form.box {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}
form { display: block; }

/* Icons */
.contextual48 {float:right; white-space: nowrap; line-height:1.4em;margin-top:30px; padding-left: 10px; font-size:0.9em;}

.icon48 {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 60px;
line-height: 48px;
vertical-align: middle;
}

.icon-doctor48 { background-image: url(../images/48x48/doctor.png); }
.icon-patient48 { background-image: url(../images/48x48/patient.png); }
.icon-invoice48 { background-image: url(../images/48x48/invoice.png); }
.icon-catalogs48 { background-image: url(../images/48x48/catalogs.png); }

.icon-add { background-image: url(../images/add.png); }
.icon-delete { background-image: url(../images/delete.png); }
.icon-print { background-image: url(../images/print.png); }
.icon-search { background-image: url(../images/search.png); }
.icon-spinner { background-image: url(../images/indicator.gif); }

/* SubTabs */
#content .sub-tabs {height: 2.6em; border-bottom: 1px solid #bbbbbb; margin-bottom:1.2em; position:relative;}
#content .sub-tabs ul {margin:0; position:absolute; bottom:-2px; padding-left:1em;}
#content .sub-tabs>ul { bottom:-1px; } /* others */
#content .sub-tabs ul li {
float:left;
list-style-type:none;
white-space:nowrap;
}

#content .sub-tabs ul li a{
display:block;
font-size: 0.9em;
text-decoration:none;
line-height:1.3em;
padding:4px 6px 4px 6px;
border: 1px solid #ccc;
border-bottom: 1px solid #bbbbbb;
background-color: #eeeeee;
color:#777;
font-weight:bold;
}

#content .sub-tabs ul li a:hover {
background-color: #ffffdd;
text-decoration:none;
}

#content .sub-tabs ul li a.selected {
background-color: #fff;
border: 1px solid #bbbbbb;
border-bottom: 1px solid #fff;
}

#content .sub-tabs ul li a.selected:hover {
background-color: #fff;
}


/* Tabs */
#content .tab-container{
border-collapse: collapse;
width: 99%;
margin-top: 0;
}

#content .tabs{
width: 100px;
margin: 0;
position: static;
border: 0;
padding: 0;
}

#content .tab-frame{
padding: 0;
}

#content .tabs ul{
position: static;
padding: 0;
margin: 0;
margin-top: 2.2em;
}

#content .tabs ul li {
float: none;
padding: 0;
margin-top: 0.1em;
margin-right: 0;
border: 1px solid #bbbbbb;
border-right: 1px solid #fff;
}

#content .tabs ul li a{
padding: 1em;
border: 0;
}

#content .tabs ul li a {
background-color: #fff;
border: 0;
}

#content .tabs ul li a.selected {
background-color: #ffffbb;
border: 0;
}

#content .tabs ul li a.selected:hover {
background-color: #ffffbb;
border: 0;
}

#content .tabs ul li a:hover {
background-color: #ffffbb;
border: 0;
}

/* TODO: doesn't work with konqueror */
#content .tabs ul li a.selected#tab-overview{
background-color: #fff;
}

#content .tab-box{
width: 100%;
min-height: 300px;
border: 0;
border: 1px solid #bbbbbb;
margin-left: 0;
}

/* Sessions */
table.session {
  margin-left:  1em;
  margin-right: 1em;
  width:        100%;
}

/* Cases */
div.case_info { background:#ffffdd; padding:6px; margin-bottom:6px; border:1px solid #d7d7d7; }
table.overview-group { margin-bottom:1.8em; border-width:2px}
table.overview-group tr th { border-bottom:1px solid #888888; font-size:0.9em;}
.box {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}

ul.case-history { list-style: none; padding-left: 1em; }
ul.case-history li { margin: 0; padding-left: 1em; background-color: white; }

/* restful-authentication */
#right-menu { float:right; }
#right-menu div { margin: 0.2em; }
#user-bar-greeting, #user-bar-action { display:inline; }
#user-bar-greeting a, #user-bar-action a { font-weight:bold; }

@media print {
  div.case_info { background:white; border:0 }
}
