/**** ZytoLabor ****/
#header { background-color: #AEB9CF; }

table th { text-align: left; }

/* Welcome */
.welcome { margin: 2em; margin-bottom: 3.5em; }
.welcome p { width: 100%; font-size: 13pt; font-variant:italic }
.welcome p img { margin-right: 0.5em; float: left; }

/* Forms */
.fieldWithErrors input { border-color:#dd0000; }
form.box {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}
form { display: block; }

/* Tabs */
#content .tabs{
margin-bottom: 0
}

#content .tabs ul li a#{
line-height: 1.6em;
}

#content .tabs ul li a#tab-overview{
display:block;
font-size: 1.2em;
font-style: italic;
text-decoration: none;
line-height: 0.9em;
padding: 4px 6px 4px 6px;
border: 0px;
color: #777;
background-color: #fff;
font-weight: bold;
}

/* TODO: doesn't work with konqueror */
#content .tabs ul li a.selected#tab-overview{
background-color: #fff;
}

#content .tab-box{
border-top: 0;
}

/* Sessions */
ul.session {
  padding-left: 1em;
}

ul.session li {
  list-style-type: none;
}

/* Cases */
div.case_info { background:#ffffdd; padding:6px; margin-bottom:6px; border:1px solid #d7d7d7; }
table.overview-group { margin-bottom:1.8em; border-width:2px}
table.overview-group tr th { border-bottom:1px solid #888888; font-size:0.9em;}
.box {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}

ul.case-history { list-style: none; padding-left: 1em; }
ul.case-history li { margin: 0; padding-left: 1em; background-color: white; }

/* restful-authentication */
#right-menu { float:right; }
#right-menu div { margin: 0.2em; }
#user-bar-greeting, #user-bar-action { display:inline; }
#user-bar-greeting a, #user-bar-action a { font-weight:bold; }

@media print {
  div.case_info { background:white; border:0 }
}
