#medical_case_form
  = form_for 'search', patient_treatment_medical_cases_path(@treatment.patient, @treatment), :method => :get, :remote => true do |f|
    = f.label 'query', 'Suche'
    = f.text_field :query, :label => "Suche", :size => 15, :autocomplete => 'off'
    = image_submit_tag 'find.png', :title => 'Suchen'
  #medical_case_search_results
