<table class="list" id="medical_case_table">
<%= render :partial => 'medical_cases/list_header' %>
<%= render :partial => 'medical_cases/item', :collection => items %>
<%= render :partial => 'medical_cases/list_footer' %>
</table>
