<tr>
  <td><%= item.diagnosis.type %></td>
  <td><%= item.to_s %></td>
  <td><%= link_to_remote(image_tag('delete.png'), {:url => patient_treatment_medical_case_path(@patient, @treatment, item), :method => :delete}, :method => :delete, :href => medical_case_path(item)) %></td>
</tr>
