<div id="notice_flash" class="flash notice">
  <p>Rechnungen wurde an Drucker gesendet...</p>
  <p>
    <%= link_to 'Journal', :controller => 'invoice_batch_jobs', :action => :show, :id => @invoice_batch_job.id %>
    <%= button_to_function 'Schliessen', "Element.hide('invoice_flash')" %>
  </p>
</div>
