<p class="PAP_<%=h compact.classification.code unless compact.classification.nil? %>">
  <%=h compact.examination_date.strftime('%b. %g') unless compact.examination_date.nil? %>:
  <%= link_to_remote h(compact.classification.nil? ? "unklassifiziert" : compact.classification.name), :update => 'result', :url => {:controller => 'cases', :action => :show_inline, :id => compact} %>
</p>
