<table style="height: 100%">
  <tr>
    <td>
      <fieldset>
        <legend>Resultat</legend>
        <%= render :partial => 'result_report', :id => @case %>
      </fieldset>
    </td>
    <td id="personal-information" style="min-width: 200px; vertical-align: top">
      <fieldset style="font-size: 80%; line-height: 1.3em">
        <legend>Geschichte</legend>
        <dl>
          <%= render :partial => 'cases/compact', :collection => @case.patient.cases unless @case.patient.nil? %>
        </dl>
      </fieldset>
    </td>
  </tr>
</table>
