<table style="width: 100%; height: 100%">
  <tr>
    <td>
      <%= render :partial => 'result_report', :id => @case %>
    </td>
    <td id="personal-information" style="min-width: 200px; vertical-align: top">
      <%= render :partial => 'info', :object => @case %>
    </td>
  </tr>
</table>
