<%= render :partial => 'show', :id => @case %>

<% content_for :sidebar do %>
  <h3>Geschichte</h3>
  <dl>
    <%= render :partial => 'cases/compact', :collection => @related_cases %>
  </dl>
<% end %>
