<table class="list">
  <%= render :partial => 'bookings/item', :collection => list %>
  <tr>
    <th>Saldo</th>
    <th colspan="2" style="text-align: right"><%= sprintf("%0.2f", list.sum(:amount).currency_round) %>&nbsp;CHF</th>
  </tr>
</table>
