%tr#bookings_list_footer{:style => "border-top: double 2px black; background-color: grey"}
  %td
  %td{:colspan => "2"} Umsatz
  %td
  %td
  %td{:style => "text-align: right"}= currency_fmt(@bookings.to_a.sum{|b| b.amount})
  %td
%tr
  %th{:colspan => "7", :style => "text-align: right"}= will_paginate @bookings, :params => {:query => params[:query]}
