<table class="list booking_list" id="bookings">
  <%= render :partial => 'list_header' %>
  <%= render :partial => 'item', :collection => @bookings %>
  <%= render :partial => 'list_footer' %>
</table>
