<% content_for :sidebar do %>
<div class="sub-tabs">
  <h3>Filter</h3>
  <ul>
    <% for year in 2007..2010 %>
      <li><%= link_to year, set_value_date_filter_accounts_path(:year => year, :uri => request.request_uri) %></li>
    <% end %>
  </ul>
</div>
<% end %>
