<% content_for :sidebar do %>
<div class="sub-tabs">
  <h3>Filter</h3>
  <ul>
    <li><%= link_to "Alle", url_for(:overwrite_params => {:by_value_period => nil}) %></li>
    <% for year in Accounting::Booking.fiscal_years %>
      <li><%= link_to year, url_for(:params => params.merge({:by_value_period => {:from => Date.new(year.to_i, 1, 1).to_s(:db), :to => Date.new(year.to_i, 12, 31).to_s(:db)}})) %></li>
    <% end %>
  </ul>
</div>
<% end %>
