<div class="flash notice">
  <h2>Dies ist eine Demo Installation.</h2>
  <p>
    Mit folgenden Daten können Sie sich anmelden.<br/><br/>
    <b>Login:</b> <i>demo</i><br/>
    <b>Passwort:</b> <i>demo1234</i>
  </p>
</div>
