<div class="flash notice">
  <h2>Dies is a demo installation.</h2>
  <p>
    Use these credentials to login as admin:<br/><br/>
    <b>Login:</b> <i>demo</i><br/>
    <b>Password:</b> <i>demo1234</i>
  </p>
</div>
