<div class="flash notice">
  <h2>This is a demo installation.</h2>
  <p>
    Use these credentials to login as admin:<br/><br/>
    <b>Login:</b> <i>doctor</i><br/>
    <b>Password:</b> <i>doctor1234</i>
  </p>
</div>
