- if user_signed_in?
  .btn-group.pull-right
    = link_to '#', :class => 'btn dropdown-toggle', 'data-toggle' => 'dropdown' do
      %i.icon-user
      = current_user
      %span.caret
    %ul.dropdown-menu
      %li= link_to t('devise.profile'), current_user
      %li.divider
      %li= link_to t('devise.sign_out'), destroy_user_session_path, :method => :delete
