<li class="span4">
  <div class="thumbnail">
    <%= image_tag(image) %>
    <h3><%= t(section_title, :scope => 'cydoc.navigation') %></h3>
    <ul>
      <% for item in items %>
        <li><%= link_to t(item[:title], :scope => 'cydoc.navigation'), item[:url] %></li>
      <% end %>
    </ul>
  </div>
</li>
