<div class="navigation_section">
  <h2><%=h section_title %></h2>
  <%= image_tag(image) %>
  <ul>
    <% for item in items %>
      <li><%= link_to item[:title], item[:url] %></li>
    <% end %>
  </ul>
</div>
