<div class="navigation_section">
  <h2><%= t(section_title, :scope => 'cydoc.navigation') %></h2>
  <%= image_tag(image) %>
  <ul>
    <% for item in items %>
      <li><%= link_to t(item[:title], :scope => 'cydoc.navigation'), item[:url] %></li>
    <% end %>
  </ul>
</div>
