<li id="sub-tab-<%= type %>-<%= tab.id %>"><%= link_to "#{tab.to_s(:short)}", tab,
                       :class => ("#{type}_#{tab.id}" != selected_tab ? nil : 'selected'),
                       :onclick => "showSubTab('#{type}-#{tab.id}', '#{type}'); this.blur(); return false;" %></li>
