<div style="text-align: center; margin-top: 3em; width: 100%">
<table>
  <tr>
    <td style="vertical-align: top">
      <%= render :partial => "item", :locals => { :title => "Resultate", :controller => 'results', :description => 'Aktuelle Resultate anzeigen' } %>
      <%= render :partial => "item", :locals => { :title => "Nachricht senden", :url => 'mailto:info@zyto-labor.com', :description => 'Nachricht an ZytoLabor senden', :image => 'contact_message.png' } %>
    </td>
    <td style="vertical-align: top; padding-left: 4em">
      <%= render :partial => "item", :locals => { :title => "Neue Bestellung", :url => 'http://shop.zyto-labor.com', :image => 'orders_new.png', :description => 'Verbrauchsmaterial bestellen' } %>
    </td>
   </tr>
  </table>
</div>
