%ul.thumbnails
  = navigation_section(:patients, patient_navigation, 'system-users.png')
  = navigation_section(:payments, invoice_navigation, '48x48/invoice.png')
  = navigation_section(:master_data, master_data_navigation, '48x48/catalogs.png')
  = navigation_section(:accounting, accounting_navigation, '48x48/accounts.png')
