<div style="text-align: center; margin-top: 3em; width: 100%">
  <table style="width: 100%">
    <tr>
      <td style="vertical-align: top">
        <%= render :partial => 'patients/navigation_section' %>
        <%= render :partial => 'invoices/navigation_section' %>
      </td>
      <td style="vertical-align: top">
        <%= navigation_section(:master_data, {:show_doctors => :doctors, :show_insurances => :insurances, :show_tariff_items => :tariff_items}, '48x48/catalogs.png') %>
        <%= navigation_section(:accounting, {:show_accounts => :accounts, :show_debtors => account_path(Invoice::DEBIT_ACCOUNT) }, '48x48/accounts.png') %>
      </td>
    </tr>
  </table>
</div>
