<div style="text-align: center; margin-top: 3em; width: 100%">
<table style="width: 100%">
  <tr>
    <td style="vertical-align: top">
      <%= navigation_section('Patienten', {"Erfassen" => {:controller => 'patients', :action => 'new'}, "Suchen" => :patients }, 'system-users.png') %>
      <%= navigation_section('Rechnungen', {"Rechnungen anzeigen" => :invoices}, 'gnucash.png') %>
    </td>
    <td style="vertical-align: top; padding-left: 4em">
      <%= navigation_section('Stammdaten', {"Ärzte anzeigen" => :doctors, "Versicherungen anzeigen" => :insurances, "Leistungen anzeigen" => :tariff_items }, 'gnucash.png') %>
    </td>
   </tr>
  </table>
</div>
