<div style="text-align: center; margin-top: 3em; width: 100%">
<table>
  <tr>
    <td style="vertical-align: top">
      <%= render :partial => "item", :locals => { :title => "Patienten", :controller => 'patients', :image => 'patient.png', :description => 'Neuen Patienten erfassen' } %>
      <%= render :partial => "item", :locals => { :title => "Resultate", :controller => 'mailings', :image => 'results_index.png', :description => 'Aktuelle Resultate anzeigen' } %>
    </td>
    <td style="vertical-align: top; padding-left: 4em">
      <%= render :partial => "item", :locals => { :title => "Neue Bestellung", :url => 'http://shop.zyto-labor.com', :image => 'orders_new.png', :description => 'Verbrauchsmaterial bestellen' } %>
      <%= render :partial => "item", :locals => { :title => "Nachricht senden", :url => 'mailto:info@zyto-labor.com', :description => 'Nachricht an ZytoLabor senden', :image => 'view-pim-mail.png' } %>
    </td>
   </tr>
  </table>
</div>
