<script type="text/javascript">
  $('query').focus()
</script>

<%= error_messages_for :record_tarmed %>

<form name="tarmed_query" action="" >
Tarmed Leistung:&nbsp;<%= text_field_tag("query", params['query'], :size => 10 ) %>
<%= image_tag("indicator.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
</form>

<%= observe_field 'query',  :frequency => 2,
         :update => 'table',
         :before => "Element.show('spinner')",
         :success => "Element.hide('spinner')",
         :url => {:controller => :tariff_items, :action => 'list_for_record_tarmed_code', :patient_id => params[:id]},
         :with => 'query' %>


<table id="table" class="listing">
</table>
