<table class="list">
  <%= render :partial => 'tariff_items/list_header' %>
  <%= render :partial => 'tariff_items/item', :collection => @tariff_items %>
  <%= render :partial => 'tariff_items/list_footer' %>
</table>
