<div id="search_result">
  <table class="list">
  <%= render :partial => 'tariff_items/list_header' %>
  <%= render :partial => 'tariff_items/item', :collection => (@tariff_items || []) %>
  </table>
</div>
