<table class="listing">
  <tr>
    <th>Datum</th>
    <th>Tarif</th>
    <th>Code</th>
    <th>Anzahl</th>
    <th>Text</th>
    <th>TP&nbsp;AL/Preis</th>
    <th>TP&nbsp;TL</th>
    <th style="text-align: right">Betrag</th>
  </tr>
<%= render :partial => 'tariff_items/item', :collection => items %>
</table>
