<div class="box">
  <% remote_form_for 'search', :url => {:controller => :tariff_items, :action => 'list', :patient_id => @patient} do |f| %>
    <%= f.label 'query', 'Suche' %>
    <%= f.text_field :query, :label => "Suche", :size => 15, :autocomplete => 'off' %>
    <%= f.submit 'Suchen' %>
  <% end %>
</div>
