<% form_tag '#', {:class => 'tabular'} do %>
  Suche: <%= text_field :search, :query, :label => "Suche", :size => 15, :autocomplete => 'off' %>
  <%= image_tag("indicator.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "spinner",
                :style =>"display: none;" ) %>
  </form>
<% end %>

  <%= observe_field 'search_query',  :frequency => 2,
           :before => "Element.show('spinner')",
           :success => "Element.hide('spinner')",
           :url => {:controller => :tariff_items, :action => 'list', :patient_id => @patient},
           :with => 'query' %>
