= navigation_section(:accounting, {                 |
    :balance_sheet => {:action => :report},         |
    :open_positions => {:action => :open_invoices}, |
    :all_bookings  => bookings_path                 |
  }, '48x48/bookkeeping.png')                       |
