%tr
  %th Patient
  %th Rechnungsdatum
  %th Fälligkeit
  %th{:style => "text-align: right"} Rechnungsnr.
  %th{:style => "text-align: right"} Rechnungsbetrag
  %th{:style => "text-align: right"}
    Offener Betrag per #{Date.parse(@value_date_end)}
