<div style="text-align: center; margin-top: 3em; width: 100%">
<table style="width: 100%">
  <tr>
    <td style="vertical-align: top">
      <%= render :partial => 'invoices/navigation_section' %>
      <%= render :partial => 'esr_bookings/navigation_section' %>
    </td>
    <td style="vertical-align: top; padding-left: 4em">
      <%= render :partial => 'accounts/navigation_section' %>
    </td>
   </tr>
  </table>
</div>
