= navigation_section(:payments, invoice_navigation, '48x48/invoice.png')
= render :partial => 'esr_files/navigation_section'
= render :partial => 'bookkeeping/navigation_section'
= render :partial => 'accounts/navigation_section'
