<tr id="phone_number_<%= item.id %>">
  <td><%=h item.phone_number_type %></td>
  <td><%=h item.number %></td>
  <td>
    <%= link_to_remote image_tag('delete.png'), {:url => patient_phone_number_path(@patient, item), :method => :delete} %>
  </td>
</tr>
