<h3><%= t('cydoc.title.contact') %></h3>
<div class="box">
  <div id="new_phone_number" class="new_phone_number"></div>

  <table id="phone_numbers">
    <%= render :partial => 'phone_numbers/item', :collection => phone_numbers %>
  </table>
</div>

