<tr id="phone_number_form">
  <% fields_for 'patient[new_phone_number_attributes][]', @phone_number do |phone_number| %>
        <%= phone_number.select :phone_number_type, [t_attr(:private_phone, PhoneNumber), t_attr(:business_phone, PhoneNumber), t_attr(:mobile, PhoneNumber), t_attr(:fax, PhoneNumber), t_attr(:email, PhoneNumber)], :label => t_attr(:phone_number_type, PhoneNumber) %>
    <td><%= phone_number.text_field :number, :size => 12, :autocomplete => 'off' %></td>
  <% end %>
</tr>
