#patient_recalls{:style => "display: none"}
%table#recalls.table
  = render :partial => 'recalls/list_header'
  = render :partial => 'recalls/item', :collection => @recalls
  = render :partial => 'recalls/list_footer'
