<table id="recalls" class="list">
  <%= render :partial => 'recalls/list_header' %>
  <%= render :partial => 'recalls/item', :collection => @recalls %>
  <%= render :partial => 'recalls/list_footer' %>
</table>
