<div class="contextual">
  <%= link_to_remote "Recall erfassen", {:url => new_patient_recall_url(@patient), :method => :get}, :class => "icon icon-add" unless @patient.new_record?%>
</div>
<h3>Recalls</h3>
<div class="box">
  <div id="new_recall" class="new_recall"></div>

  <div id="recalls" style="display: none"></div>

  <table id="patient_recalls" style="width: 100%">
    <%= render :partial => 'recalls/patient_item', :collection => @patient.recalls.queued + @patient.recalls.sent %>
  </table>
</div>

