<div class="contextual">
  <%= link_to t('cydoc.actions.new_recall'), {:url => new_patient_recall_url(@patient), :method => :get}, :class => "icon icon-add" unless @patient.new_record?, :remote => true %>
</div>
<h3><%= t('cydoc.title.recall') %></h3>
<div class="box">
  <div id="new_recall" class="new_recall"></div>

  <div id="recalls" style="display: none"></div>

  <table id="patient_recalls" style="width: 100%">
    <%= render :partial => 'recalls/patient_item', :collection => @patient.recalls.queued + @patient.recalls.sent %>
  </table>
</div>

