<% content_for :sidebar do %>
<div class="sub-tabs">
  <h3><%= t('cydoc.title.filter') %></h3>
  <ul>
    <li><%= link_to t('cydoc.actions.all'), url_for(:overwrite_params => {:by_period => nil, :page => nil}) %></li>
    <% for (month, count) in Recall.filter_months -%>
      <li><%= link_to "#{month.strftime('%b %Y')} (#{count})", url_for(:params => params.merge({:by_period => {:from => month.beginning_of_month.to_s(:db), :to => month.end_of_month.to_s(:db)}, :page => nil})) %></li>
    <% end -%>
  </ul>
</div>
<% end %>
