# Main Database
# =============
development:
  database: cydoc_development
  adapter: mysql
  host: localhost
  username: cydoc
  password: CHANGE ME
  encoding: utf8

production:
  database: cydoc_production
  adapter: mysql
  host: localhost
  username: cydoc
  password: CHANGE ME
  encoding: utf8

demo:
  database: cydoc_demo
  adapter: mysql
  host: localhost
  username: cydoc
  password: CHANGE ME
  encoding: utf8

test:
  database: cydoc_test
  adapter: mysql
  host: localhost
  username: cydoc
  password: CHANGE ME
  encoding: utf8

# Tarmed Database
# ===============
tarmed_development:
  adapter: sqlite3
  database: db/tarmed_development.sqlite3

tarmed_test:
  adapter: sqlite3
  database: db/tarmed_test.sqlite3

tarmed_demo:
  adapter: sqlite3
  database: db/tarmed_demo.sqlite3

tarmed_production:
  adapter: sqlite3
  database: db/tarmed_production.sqlite3
