<table class="list" id="service_items">
<%= render :partial => 'service_items/list_header' %>
<%= render :partial => 'service_items/item', :collection => items %>
<%= render :partial => 'service_items/list_footer' %>
</table>
