%tr#service_items_list_footer
  %th
  %th
  %th{:style => "text-align: left"}
    = @tariff_item.service_items.count
    \&nbsp;Positionen
  %th{:style => "text-align: right"}
    = sprintf('%.2f', @tariff_item.amount_mt)
    \&nbsp;AL
  %th{:style => "text-align: right"}
    = sprintf('%.2f', @tariff_item.amount_mt)
    \&nbsp;TL
  %th{:style => "text-align: right"}
    = sprintf('%.2f', @tariff_item.amount)
    \&nbsp;CHF
  %th
