%tr#service_items_list_header
  %th{:style => "text-align: right"} Anzahl
  %th{:style => "text-align: right"} Code
  %th{:style => "text-align: left"} Text
  %th{:style => "text-align: right"} TP&nbsp;AL/Preis
  %th{:style => "text-align: right"} TP&nbsp;TL
  %th{:style => "text-align: right"} Betrag
  %th
