= simple_form_for  resource, :before => "showPrintingFlash('Rechnungslauf'); $('reminder_batch_f').remove()", :remote => true do |f|
  .row-fluid
    .span6= f.input :count, :input_html => {:size => 12, :autocomplete => 'off', 'data-autofocus' => true}

  .form-actions
    = f.button :submit
