<h3>Personalien</h3>
<table>
  <%= render :partial => 'personal_form' %>
</table>

<h3>Kontakt</h3>
<table>
  <%= render :partial => '/vcards/form', :locals => {:vcard_name => 'patient', :vcard => @patient} %>
</table>

<h3>Versicherungen</h3>
<table>
  <%= render :partial => 'insurance_form' %>
</table>
