<div class="contextual">
    <%= link_to_remote "Rechnung erstellen", {:update => 'new_invoice', :url => new_patient_invoice_url(@patient), :method => :get}, :class => "icon icon-invoice" %>
</div>

<h3>Offene Rechnungen</h3>
<div id="new_invoice"></div>

<div id="services_list">
  <% @invoices = @patient.invoices %>
  <%= render :partial => 'invoices/list' %>
</div>
