<div id="search_result">
  <table class="list">
    <%= render :partial => 'list_header' %>
    <% if @patients %>
      <%= render :partial => 'item', :collection => @patients %>
      <%= render :partial => 'list_footer' %>
    <% end %>

    <% if @suggest_covercard_search %>
      <td><tr><%= link_to t('cydoc.actions.covercard_search'), covercard_search_path(@suggest_covercard_search), 'data-remote' => true if Covercard::Patient.settings['modules.covercard'] %></tr></td>
    <% end %>
  </table>
</div>
