<div id="search_result">
  <table class="list">
    <%= render :partial => 'list_header' %>
    <%= render :partial => 'item', :collection => @patients %>
    <%= render :partial => 'list_footer' %>
  </table>
</div>
