<div class="contextual">
    <%= link_to_remote "Diagnose erfassen", {:update => 'new_medical_case', :url => {:controller => :medical_cases, :action => :new_inline, :patient_id => @patient, :type => 'DiagnosisCase'}}, :class => "icon icon-add" %>
</div>

<h3>Krankengeschichte</h3>

<div id="new_medical_case"></div>

<table class="list">
<% if @patient.medical_cases.empty? %>
  <tr>
    <td>Keine Krankengeschichte</td>
  </tr>
<% else %>
    <%= render :partial => 'medical_history_item', :collection => @patient.medical_cases %>
<% end %>
</table>
