<div class="contextual">
    <%= link_to_remote "Diagnose erfassen", {:update => 'new_medical_case', :url => new_patient_diagnosis_url(@patient), :method => :get}, :class => "icon icon-add" %>
</div>

<h3>Krankengeschichte</h3>

<div id="new_medical_case">
  <%= render :partial => 'medical_cases/form' %>
</div>

<h3>Aktuelle Diagnosen</h3>
<div id="medical_case_list">
  <%= render :partial => 'medical_cases/list', :locals => { :items => @patient.medical_cases } %>
</div>
