= simple_form_for '', :url => search_path, :remote => true, :class => 'form-inline' do |f|
  = f.input 'query', :label => false, :placeholder => 'Name, Eingangsnummer, Geburtsdatum, Strasse...', :input_html => {:class => 'span10'}

#patients
