<% form_tag '#', {:class => 'tabular box'} do %>
  <%= text_field :search, :query, :label => "Suche", :size => 15, :autocomplete => 'off' %>
  <%= image_tag("indicator.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "spinner",
                :style =>"display: none;" ) %>
  </form>

  <%= observe_field 'search_query',  :frequency => 2,
           :update => 'search_results',
           :before => "Element.show('spinner')",
           :success => "Element.hide('spinner')",
           :url => {:controller => :patients, :action => 'search'},
           :with => 'query' %>
<% end %>
