<h2>Offene Leistungen</h2>
<div id="new_service_record" />
<table class="listing">
  <tr>
    <th>Datum</th>
    <th>Tarif</th>
    <th>Tarifziffer</th>
    <th>Bezugsziffer</th>
    <th>Si&nbsp;St</th>
    <th>Anzahl</th>
    <th>TP&nbsp;AL/Preis</th>
    <th>fP&nbsp;AL</th>
    <th>TPWP&nbsp;AL</th>
    <th>TPP&nbsp;TL</th>
    <th>fP&nbsp;TL</th>
    <th>TPWP&nbsp;TL</th>
    <th>A</th>
    <th>V</th>
    <th>P</th>
    <th>M</th>
    <th style="text-align: right">Betrag</th>
  </tr>
  <%= render :partial => 'tariff_items/record', :collection => @patient.record_tarmeds %>
</table>
