<div class="contextual">
    <%= link_to_remote "Leistung erfassen", {:update => 'new_service_record', :url => new_patient_tariff_item_url(@patient), :method => :get}, :class => "icon icon-add" %>
</div>

<div id="new_service_record">
  <%= render :partial => 'tariff_items/form' %>
</div>

<h3>Offene Leistungen</h3>
<div id="service_list">
  <%= render :partial => 'sessions/list', :locals => { :items => @patient.service_records } %>
</div>
