<h2>Offene Leistungen</h2>
<div id="new_service_record" />
<table class="listing">
  <tr>
    <th>Datum</th>
    <th>Tarif</th>
    <th>Tarifziffer</th>
    <th>Bezugsziffer</th>
    <th>Si</th>
    <th>St</th>
    <th>Anzahl</th>
    <th>TP AL/Preis</th>
    <th>f AL</th>
    <th>TPW AL</th>
    <th>TP TL</th>
    <th>f TL</th>
    <th>TPW TL</th>
    <th>A</th>
    <th>V</th>
    <th>P</th>
    <th>M</th>
    <th>Betrag</th>
  </tr>
  <%= render :partial => 'tariff_items/record', :collection => @patient.record_tarmeds %>
</table>
