<h3>Leistungen</h3>
<div class="box" id="new_service_record">
<div id="search_form">
  <%= render :partial => 'tariff_items/search_form' %>
  <%= loading_indicator_tag :id => 'search' %>
</div>

<div id="search_results">
  <%= render :partial => 'tariff_items/list' %>
</div>
</div>

<div id="services_list">
  <%= render :partial => 'service_records/list', :locals => { :items => @patient.service_records } %>
</div>
