<h2>Offene Leistungen</h2>
<div id="new_service_record">
  <%= render :partial => 'tariff_items/search_form' %>

<div id="search_results">
  <%= render :partial => 'tariff_items/list' %>
</div>
</div>

<div id="services_list">
  <%= render :partial => 'service_records/list', :locals => { :items => @patient.record_tarmeds } %>
</div>
