<div id="patient-covercard">
  <h3><%= t('cydoc.title.covercard') %></h3>
  <div class="box">
  <table style="width: 100%">
    <tr>
      <th><%= t_attr(:covercard_code) %></th><td><%=h @patient.covercard_code %></td>
    </tr>
  </table>
  </div>
</div>
