<div class="contextual">
    <%= link_to "Anzeigen", @patient, :class => "icon icon-show" %>
    <%= link_to "Erfassen", new_patient_path, :class => "icon icon-add" %>
</div>

<h3>Patient ändern</h3>

<% form_for @patient, :builder => Rubaidh::TabularForm::TabularFormBuilder do |patient| %>
  <div class="box">
    <%= render :partial => 'form' %>
    <%= patient.submit 'Speichern' %>
  </div>
<% end %>
