= contextual_links :index, Patient

= boot_page_title(number_with_delimiter(@patients.total_entries) + " Patienten")

= paginated_section @patients, :params => {:query => params[:query]} do
  = render 'patients/list'
