<h1>Patienten</h1>

<script type="text/javascript">
//<![CDATA[
Event.observe(window, 'load', function() {$('search_query').focus()}, false);
//]]>
</script>
<div id="search_form">
  <%= render :partial => 'search_form' %>
  <%= loading_indicator_tag :id => 'search' %>
</div>

<div id="search_results">
  <table class="listing">
    <tr>
      <th />
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Strasse</th>
      <th>PLZ</th>
      <th>Ort</th>
      <th>Geburtsdatum</th>
      <th>Arzt</th>
      <th>PatientenNr.</th>
      <th>Versicherung</th>
      <th>VersicherungsNr.</th>
    </tr>
  </table>
</div>
