<h2>Patient erfassen</h2>

<% form_for @patient, :builder => Rubaidh::TabularForm::TabularFormBuilder do |patient| %>
<div class="box">
  <%= render :partial => 'form' %>
  <%= patient.submit 'Speichern' %>
</div>
<% end %>
