.contextual48
= tab_container 'patient', @patient.to_s,                                                                        |
  [{:name => 'personal', :partial => 'patients/show', :label => t('cydoc.tab_container.patient.personal_data')}, |
   {:name => 'invoices', :partial => 'patients/invoice_tab', :label => t('cydoc.tab_container.patient.invoice')} |
  ]                                                                                                              |
