<div class="contextual48">
  <%= link_to "Suchen", patients_path, :class => "icon icon-search" %>
  <%= link_to "Erfassen", new_patient_path, :class => "icon icon-add" %>
</div>

<%= tab_container 'patient', @patient.to_s,
      [{:name => 'personal', :partial => 'patients/show', :label => 'Personalien'},
       {:name => 'cases', :partial => 'patients/case_tab', :label => 'Fälle'},
       {:name => 'services', :partial => 'patients/service_list', :label => 'Leistungen'},
       {:name => 'invoices', :partial => 'patients/invoice_tab', :label => 'Rechnungen'},
      ] %>
