<div class="contextual48">
</div>

<%= tab_container 'patient', @patient.to_s,
      [{:name => 'personal', :partial => 'patients/show', :label => 'Personalien'},
       {:name => 'treatments', :partial => 'patients/treatment_tab', :label => 'Fälle'},
       {:name => 'invoices', :partial => 'patients/invoice_tab', :label => 'Rechnungen'},
      ] %>
