<%- if @patient.dunning_stop %>
  <div class="flash error">
    <p>
      <%= flash[:alert] = t('flash.action.dunning_stop') %>
    </p>
    <p>
      <%= flash[:alert] = t('flash.action.returned_invoice_html', :link => link_to("Link", [:edit, @patient.returned_invoices.first])) if  @patient.returned_invoices.present? %>
    </p>
  </div>
<%- end %>

<div class="contextual48">
</div>

<%= tab_container 'patient', @patient.to_s,
      [{:name => 'personal', :partial => 'patients/show', :label => t('cydoc.tab_container.patient.personal_data')},
       {:name => 'treatments', :partial => 'patients/treatment_tab', :label => t('cydoc.tab_container.patient.treatment')},
       {:name => 'invoices', :partial => 'patients/invoice_tab', :label => t('cydoc.tab_container.patient.invoice')},
      ] %>
