<% if @doctor.account %>
  <tr>
    <th>Kontonummer:</th>
    <td><%=h @doctor.account.number %></td>
  </tr>
  <tr>
    <th>ESR:</th>
    <td><%=h @doctor.account.esr_id %></td>
  </tr>
  <tr>
    <th>Postcheck Konto:</th>
    <td><%=h @doctor.account.pc_id %></td>
  </tr>
<% end %>
