<h3>Arzt Information</h3>
<% fields_for @doctor, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f| %>
<table>
  <%= f.text_field :ean_party, :label => "EAN-Nr." %>
  <%= f.text_field :zsr, :label => "ZSR-Nr." %>
</table>
<% end %>
