%table.table.table-striped.collection
  %tr
    %th Name
    %th Adresse
    %th ZSR
    %th EAN

  = render collection

  %tr
    %th{ :colspan => "4", :style => "text-align: right" }= paginate collection
