<div class="contextual">
    <%= link_to "Ändern", edit_doctor_path(@doctor), :class => "icon icon-edit" %>
</div>

<h3>Adresse</h3>

<div class="box">
  <table>
    <%= full_address(@doctor.vcard) %>
  </table>
</div>

<div class="contextual">
  <%= link_to t('cydoc.actions.new_contact'), {:url => new_vcard_phone_number_url(@doctor.vcard), :method => :get}, :class => "icon icon-add" unless @doctor.new_record?, :remote => true%>
</div>
<%= render 'phone_numbers/list', :phone_numbers => @doctor.vcard.contacts %>
