<div class="contextual">
    <%= link_to "Ändern", edit_doctor_path(@doctor), :class => "icon icon-edit" %>
</div>

<h3>Adresse</h3>

<div class="box">
  <table>
    <%= full_address(@doctor.vcard) %>
  </table>
</div>
