%ul.nav.nav-tabs
  %li.active= link_to t('.tab.show'), '#tab-show', {:data => {:toggle => 'tab'}}
  %li= link_to t('users.form.credentials'), '#tab-user', {:data => {:toggle => 'tab'}}

.tab-content
  #tab-show.tab-pane.active= render 'form'
  #tab-user.tab-pane= render 'users/form', :resource => resource.user || resource.build_user
