.contextual
  = link_to "Erfassen", new_doctor_path, :class => "icon icon-add"
  = link_to "Alle anzeigen", {:url => doctors_path(:all => true), :method => :get}, :class => "icon icon-index", :remote => true
%h2 &Auml;rzte
:javascript
  Event.observe(window, 'load', function() {$('search_query').focus()}, false);
#search_form
  = render :partial => 'search_form'
#search_results
  = render :partial => 'list'
