<div class="contextual">
  <%= link_to "Erfassen", new_doctor_path, :class => "icon icon-add" %>
  <%= link_to "Alle anzeigen", {:url => doctors_path(:all => true), :method => :get}, :class => "icon icon-index", :remote => true %>
</div>
<h2>&Auml;rzte</h2>

<script type="text/javascript">
  Event.observe(window, 'load', function() {$('search_query').focus()}, false);
</script>

<div id="search_form">
  <%= render :partial => 'search_form' %>
</div>

<div id="search_results">
  <%= render :partial => 'list' %>
</div>
