<% form_for :doctor, :url => {:action => 'create'} do |f| %>
  <table>
    <%= render :partial => 'vcards/form', :locals => { :vcard_name => 'praxis', :vcard => @praxis } %>
    <%= render :partial => 'form' %>
    <%= render :partial => 'account_form' %>
  </table>
  <%= f.submit %>
<% end %>
