<div class="contextual48">
    <%= link_to "Suchen", doctors_path, :class => "icon icon-search" %>
    <%= link_to "Erfassen", new_doctor_path, :class => "icon icon-add" %>
</div>

<%= tab_container 'doctor', @doctor.to_s,
      [{:name => 'personal', :partial => 'doctors/show', :label => 'Personalien'},
       {:name => 'doctor', :partial => 'doctors/doctor_show', :label => 'Arzt Informationen'},
       {:name => 'accounting', :partial => 'doctors/invoicing_tab', :label => 'Rechnungswesen'},
       {:name => 'printing', :partial => 'doctors/printing_tab', :label => 'Drucker Einstellungen'},
      ] %>
