<div class="contextual48">
    <%= link_to "Suchen", doctors_path, :class => "icon icon-search" %>
    <%= link_to "Erfassen", new_doctor_path, :class => "icon icon-add" %>
</div>

<%= tab_container 'doctor', @doctor.to_s, doctor_tabs(@doctor) %>
