<h3>VESR Journal vom <%= @esr_file.updated_at.strftime('%d.%m.%Y') %></h3>
<%= render :partial => 'list_records', :object => @esr_file.esr_records.valid %>

<h3>Fehlerhafte Buchungen</h3>
<%= render :partial => 'list_records', :object => @esr_file.esr_records.invalid %>

<%= render :partial => 'sidebar' %>
