%tr[returned_invoice]
  %td= link_to returned_invoice.state, [:edit, returned_invoice], 'data-href-container' => 'tr'
  %td= returned_invoice.invoice_id
  %td= returned_invoice.patient
  %td.action-links
    - returned_invoice.aasm_events_for_current_state.each do |event|
      = list_link_for(event, returned_invoice, :method => :post)
