/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require select2
 *= require_tree .
 */

.select2-container {
  width: 220px;
}

// Thumbnails
.thumbnail {
  height: 16em;
}

.nav-list li.nav-header a {
  color: #999999;
}

/* Wells */
.well > legend {
  position: relative;
  top: -10px;
  left: -10px;
  padding: 0px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  width: 50%;
  margin-bottom: 0px;
}

.well.no-well {
  background-color: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
