/* Misc */
.right {
  text-align: right
}

.currency {
  text-align: right
}

/* Invoices */
.invoice.reactivated, .invoice.canceled {
  text-decoration: line-through;
  font-style: italic;
  color: #999999;
}
.invoice.paid {
  color: #5daa5d;
}
.invoice.written_off {
  color: #F5AE0A;
}

.invoice.reminded, .invoice.encashment {
  color: #c40c0b;
}

