= tab_container 'appointments', "Termine", [                               |
    {:name => 'appointments', :partial => 'list', :label => 'Termine'},    |
    {:name => 'recalls', :partial => 'recalls/list', :label => 'Recalls'}, |
  ]                                                                        |
