<table class="list booking_list" id="invoice_<%= @invoice.id %>_bookings">
  <%= render :partial => 'invoice_bookings/item', :collection => list %>
  <%= render :partial => 'invoice_bookings/list_footer' %>
</table>
