<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Simon Huerlimann &lt;huerlisi@gmail.com&gt;" />
    <meta name="keywords" content="zytologie labor limmatplatz zürich arzt zelle" />
    <meta name="description" content="Hozr - Zytolabor Limmatplatz" />

    <title>Hozr - <%= controller.action_name %></title>
  </head>
  <body>
    <%= render :file => '/invoices/invoice.html.erb' %>
    <%= yield %>
  </body>
</html>
