<table class="list booking_list">
  <%= render :partial => 'booking_list_header' %>

  <% @saldo = @account.saldo(@bookings.first, false) %>
  <% for @booking in @bookings %>
    <% @saldo += @booking.amount if @booking.debit_account == @account %>
    <% @saldo -= @booking.amount if @booking.credit_account == @account %>
    <%= render :partial => 'booking_item' %>
  <% end %>

  <%= render :partial => 'booking_list_footer' %>
</table>
