= navigation_section(:accounts, {                                                                                  |
    :show_accounts    => :accounts,                                                                                |
    :show_debtors => account_path(Account.find_by_code(current_tenant.settings['invoices.balance_account_code'])), |
  }, '48x48/accounts.png')                                                                                         |
